*{
    margin: 0;
    padding: 0;
    box-shadow: none;
}

body{
    background-color: rgb(241, 241, 234);
}

.login{
    position: absolute;
    top: 10rem;
    left: 35rem;
    
}
.form{
    width: 50%;
    border-radius: 2%;
}
h2{
    position: absolute;
    top: 5rem;
    left: 36rem;
    font-size: 2rem;
}